<ion-header style="background-color: #1e1e1e;">
  <ion-title>
    Sobre
  </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bem-vindo ao Lineage II Essence</strong>
    <p style="color: white;">Comece com o <a target="_blank" rel="noopener noreferrer" href="https://l2reborn.org/essence/#Section-1">Reborn</a></p>
  </div>

  <ion-button color="warning" expand="full" href="essence" id="essenceButton" (click)="essence()" >Essence</ion-button>
  <ion-button color="warning" expand="full" href="h5" id="h5Button" (click)="h5()">H5</ion-button>
  <ion-button color="warning" expand="full" href="interlude" id="interludeButton" (click)="interlude()" >Interlude</ion-button>
</ion-content>


