<ion-header style="background-color: #1e1e1e">
    <ion-title>
      KaLeNNsDagger
    </ion-title>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
  </ion-header>

  <div id="container">
    <strong>Welcome to Lineage II Essence</strong>
    <p>Start with Reborn II <a target="_blank" rel="noopener noreferrer" href="https://l2reborn.org/essence/#Section-1">Reborn</a></p>
  </div>

  <ion-button color="warning"(click)="sobre()">
    <ion-icon slot="start" name="information-circle"></ion-icon>
    Sobre
  </ion-button>
</ion-content>
